# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
.classpath
.factorypath
.faces-config.xml.jsfdia
.idea
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Maven
target
MANIFEST.MF
